In [10]:
import sqlite3
from sqlite3 import Error
import pandas as pd
import os

In [2]:
conn = sqlite3.connect('../smallgedb.db')

In [7]:
#make items table
cur = conn.cursor()
query = """ CREATE TABLE prices (timestamp integer primary key, data blob) """
cur.execute(query)

OperationalError: table prices already exists

In [3]:
cur = conn.cursor()
query = """ SELECT * from prices """
response = cur.execute(query).fetchall()

In [4]:
Data = pd.DataFrame(response,columns=['timestamp','data'])

In [5]:
Data

Empty DataFrame
Columns: [timestamp, data]
Index: []

In [6]:
def add_prices(contents,conn):
    """
    Create a new project into the items table
    :param conn:
    :param item:
    :return: item id
    """
    sql = ''' INSERT INTO prices(timestamp,data)
              VALUES(?,?) '''
    cur = conn.cursor()
    cur.executemany(sql, contents)
    conn.commit()
    return cur.lastrowid

In [28]:
def getCSVList():
    # folder path
    
    dir_path = '../notebooks/Imported'
    # list to store files
    res = []
    # Iterate directory
    for path in os.listdir(dir_path):
        # check if current path is a file
        if os.path.isfile(os.path.join(dir_path, path)):
            res.append(os.path.join(dir_path, path))
    return res

In [114]:
def convert_csvtoformat(csvFileName):
    df = pd.read_csv(csvFileName,index_col=False)
    df.drop('Unnamed: 0',axis=1,inplace=True)
    itemDict = {}
    for i in df.iterrows():
        itemDict[i[1].item_id.astype(int)] = {"avgHighPrice":i[1].avgHighPrice,"highPriceVolume":i[1].highPriceVolume,"avgLowPrice":i[1].avgLowPrice,"lowPriceVolume":i[1].lowPriceVolume}
    timestamp = df.timestamp[0]
    timeDF = pd.DataFrame(data=[[timestamp,itemDict]],columns=['timestamp','data'])
    return df, itemDict, timeDF

In [39]:
res = getCSVList()

In [115]:

df, itemDict, timeDF = convert_csvtoformat(res[0])

In [116]:
timeDF

    timestamp                                               data
0  1615188900  {2: {'avgHighPrice': 161.0, 'highPriceVolume':...

In [15]:
def runTableAdder():
    csvList = getCSVList()
    conn = create_connection('../smallgedb.db')
#     print(csvList)
    for i in tqdm(csvList):
        dfName = 'Import\\'+i
        
        price_df = pd.read_csv(dfName)
        price_df.drop('Unnamed: 0',axis=1,inplace=True)
        newDF = pd.DataFrame(columns=['timestamp','data'])
        newDF.timestamp = price_df.timestamp
        newDF.data = newDF[['item_id','timestamp','avgHighPrice','highPriceVolume','avgLowPrice','lowPriceVolume']]
#         shutil.move(dfName,'Imported\\'+i)
        if(len(price_df) == 0):
#             print('No Columns!')
            continue
        #move dfName to folder called Imported
        
        addCSV_ToDB(price_df,conn)
    
    conn.close()