In [14]:
import pandas as pd
import numpy as np
from osrs_fcns import *

In [2]:
#load price data, convert timestamp to datetime. Save each item to a new dataframe. Then, update each dataframe for each item with the newest price.

In [3]:
#load item_list

items_list = pd.read_csv('latest_osrs_items2022-03-07 12-41-21.csv')

In [4]:
items_list

,examine,id,members,lowalch,limit,value,highalch,icon,name
0,Fabulously ancient mage protection enchanted i...,10344,True,20200.0,8.0,50500,30300.0,3rd age amulet.png,3rd age amulet
1,"A beautifully crafted axe, shaped by ancient s...",20011,True,22000.0,40.0,55000,33000.0,3rd age axe.png,3rd age axe
2,A beautifully crafted bow carved by ancient ar...,12424,True,60000.0,8.0,150000,90000.0,3rd age bow.png,3rd age bow
3,A beautiful cloak woven by ancient tailors.,12437,True,34000.0,8.0,85000,51000.0,3rd age cloak.png,3rd age cloak
4,A fabulously ancient vine cloak as worn by the...,23345,True,80000.0,8.0,200000,120000.0,3rd age druidic cloak.png,3rd age druidic cloak
...,...,...,...,...,...,...,...,...,...
3877,A pile of Zombie Ogre bones.,4812,True,1.0,3000.0,1,1.0,Zogre bones.png,Zogre bones
3878,Get a head in life.,19912,True,2000.0,4.0,5000,3000.0,Zombie head (Treasure Trails).png,Zombie head (Treasure Trails)
3879,Teleports you to Zul-Andra.,12938,True,4.0,10000.0,10,6.0,Zul-andra teleport.png,Zul-andra teleport
3880,Flakes of toxic snakeskin.,12934,True,8.0,30000.0,20,12.0,Zulrah's scales 5.png,Zulrah's scales
3881,A powerful staff.,22647,True,120000.0,10.0,300000,180000.0,Zuriel's staff.png,Zuriel's staff

In [15]:
recent_prices = update_data()

C:\Users\User\Documents\DataScience\GEoutlier_detection\osrs_fcns.py:30: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  five_min_data.highTime = unix_conv(five_min_data,'timestamp')
C:\Users\User\Documents\DataScience\GEoutlier_detection\osrs_fcns.py:31: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  five_min_data.lowTime = unix_conv(five_min_data,'timestamp')

In [16]:
item_ids = list(recent_prices.id.unique())

,avgHighPrice,highPriceVolume,avgLowPrice,lowPriceVolume,timestamp,id
10,178285.0,1,NaN,0,1647032700,10
10002,3431.0,1,NaN,0,1647032700,10002
10006,18.0,274,NaN,0,1647032700,10006
10008,52.0,13,45.0,62,1647032700,10008
10010,250.0,3,NaN,0,1647032700,10010
...,...,...,...,...,...,...
989,20286.0,6,19850.0,20,1647032700,989
99,10160.0,2079,NaN,0,1647032700,99
993,NaN,0,41004.0,43,1647032700,993
9978,NaN,0,25.0,1,1647032700,9978
9998,6750.0,20,6574.0,19,1647032700,9998

In [ ]:
#make separate dataframes named by item_id

for item_id in item_ids:
    #check if csv for item exists in dir
    
    #load existing csv
    
    #add recent data
    
    #if not, make new csv 
    # addw recent data
    #columns are: id, avgHighPrice, highPriceVolume, avgLowPrice, lowPriceVolume, timestamp
    
    #save