In [1]:
#get updated ge data from the api and store it with the date and time in a folder.
#make a function that gets updates continuously.

In [2]:
import pandas as pd
import numpy as np
import requests
import json

In [3]:
headers = {'User-Agent':'GEoutlier-detection'}

In [4]:
api_endpt = "https://prices.runescape.wiki/api/v1/osrs"

In [18]:
items_endpt = "/mapping"
latest_endpt = "/latest"
five_min_endpt = "/5m"

In [6]:
items_response = requests.get((api_endpt+items_endpt), headers=headers)
all_items = pd.DataFrame.from_dict(json.loads(items_response.text))

In [7]:
all_items

,examine,id,members,lowalch,limit,value,highalch,icon,name
0,Fabulously ancient mage protection enchanted i...,10344,True,20200.0,8.0,50500,30300.0,3rd age amulet.png,3rd age amulet
1,"A beautifully crafted axe, shaped by ancient s...",20011,True,22000.0,40.0,55000,33000.0,3rd age axe.png,3rd age axe
2,A beautifully crafted bow carved by ancient ar...,12424,True,60000.0,8.0,150000,90000.0,3rd age bow.png,3rd age bow
3,A beautiful cloak woven by ancient tailors.,12437,True,34000.0,8.0,85000,51000.0,3rd age cloak.png,3rd age cloak
4,A fabulously ancient vine cloak as worn by the...,23345,True,80000.0,8.0,200000,120000.0,3rd age druidic cloak.png,3rd age druidic cloak
...,...,...,...,...,...,...,...,...,...
3877,A pile of Zombie Ogre bones.,4812,True,1.0,3000.0,1,1.0,Zogre bones.png,Zogre bones
3878,Get a head in life.,19912,True,2000.0,4.0,5000,3000.0,Zombie head (Treasure Trails).png,Zombie head (Treasure Trails)
3879,Teleports you to Zul-Andra.,12938,True,4.0,10000.0,10,6.0,Zul-andra teleport.png,Zul-andra teleport
3880,Flakes of toxic snakeskin.,12934,True,8.0,30000.0,20,12.0,Zulrah's scales 5.png,Zulrah's scales
3881,A powerful staff.,22647,True,120000.0,10.0,300000,180000.0,Zuriel's staff.png,Zuriel's staff

In [8]:
latest_response = requests.get((api_endpt+latest_endpt), headers=headers)
latest_data = pd.DataFrame.from_dict(json.loads(latest_response.text[8:-1]),orient='columns').T
latest_data['id'] = latest_data.index

In [27]:
#high and low Time need to be converted to unix time
latest_data.highTime = pd.to_datetime(latest_data['highTime'], unit='s')

In [32]:
def unix_conv(df,col):
    converted_col = pd.to_datetime(df[col], unit='s')
    
    return pd.DataFrame(converted_col, columns=[col])

In [34]:
latest_data.lowTime = unix_conv(latest_data,'lowTime')

In [35]:
latest_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3796 entries, 2 to 26394
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   high      3795 non-null   float64
 1   highTime  3795 non-null   datetime64[ns]
 2   low       3795 non-null   float64
 3   lowTime   3795 non-null   datetime64[ns]
 4   id        3796 non-null   int64
dtypes: datetime64[ns](2), float64(2), int64(1)
memory usage: 307.0+ KB

In [29]:
latest_data

              high            highTime          low       lowTime     id
2            157.0 2022-02-28 18:28:05        150.0  1.646073e+09      2
6         193090.0 2022-02-28 18:15:53     183578.0  1.646073e+09      6
8         186442.0 2022-02-28 18:15:17     183667.0  1.646073e+09      8
10        183799.0 2022-02-28 18:14:58     182058.0  1.646073e+09     10
12        190669.0 2022-02-28 18:15:15     187078.0  1.646073e+09     12
...            ...                 ...          ...           ...    ...
26382  263000000.0 2022-02-28 18:25:39  257688000.0  1.646069e+09  26382
26384  466762725.0 2022-02-28 18:22:20  462777777.0  1.646070e+09  26384
26386  478888000.0 2022-02-28 18:25:49  466000000.0  1.646067e+09  26386
26390     136656.0 2022-02-28 18:16:19     136656.0  1.646072e+09  26390
26394    8594999.0 2022-02-28 11:37:43    8300000.0  1.646038e+09  26394

[3796 rows x 5 columns]

In [68]:
five_min_response = requests.get((api_endpt+five_min_endpt), headers=headers)

In [73]:
five_min_data = pd.DataFrame.from_dict(json.loads(five_min_response.text))

In [95]:
(five_min_data['data'])

10000    {'avgHighPrice': None, 'highPriceVolume': 0, '...
10006    {'avgHighPrice': 30, 'highPriceVolume': 10, 'a...
10008    {'avgHighPrice': 53, 'highPriceVolume': 210, '...
10012    {'avgHighPrice': 112, 'highPriceVolume': 6, 'a...
10029    {'avgHighPrice': 10, 'highPriceVolume': 4, 'av...
                               ...
985      {'avgHighPrice': 10275, 'highPriceVolume': 1, ...
987      {'avgHighPrice': 9995, 'highPriceVolume': 1, '...
989      {'avgHighPrice': 19710, 'highPriceVolume': 14,...
99       {'avgHighPrice': 9629, 'highPriceVolume': 7537...
993      {'avgHighPrice': None, 'highPriceVolume': 0, '...
Name: data, Length: 1438, dtype: object

In [98]:
json.loads(five_min_data['data'])

TypeError: the JSON object must be str, bytes or bytearray, not Series

In [67]:
five_min_response = requests.get((api_endpt+five_min_endpt), headers=headers)
five_min_data = pd.DataFrame.from_dict(json.loads(five_min_response.text[8:-1]),orient='columns').T
five_min_data['id'] = five_min_data.index

JSONDecodeError: Extra data: line 1 column 127016 (char 127015)

In [36]:
#changing datetimes
five_min_data.highTime = unix_conv(five_min_data,'highTime')
five_min_data.lowTime = unix_conv(five_min_data,'lowTime')

In [25]:
#the id columns for the latest data and five_min data needs to be changed to an int64 type
latest_data.id = latest_data.id.astype('int64')
five_min_data.id = five_min_data.id.astype('int64')

In [40]:
#merge the five_min_data with all_items
#this will only include data that has new information
all_w_latest = all_items.merge(five_min_data,on='id')

In [39]:
all_w_latest.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3794 entries, 0 to 3793
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   examine   3794 non-null   object
 1   id        3794 non-null   int64
 2   members   3794 non-null   bool
 3   lowalch   3792 non-null   float64
 4   limit     3710 non-null   float64
 5   value     3794 non-null   int64
 6   highalch  3792 non-null   float64
 7   icon      3794 non-null   object
 8   name      3794 non-null   object
 9   high      3794 non-null   float64
 10  highTime  3794 non-null   datetime64[ns]
 11  low       3794 non-null   float64
 12  lowTime   3794 non-null   datetime64[ns]
dtypes: bool(1), datetime64[ns](2), float64(5), int64(2), object(3)
memory usage: 389.0+ KB

In [60]:
str(all_w_latest['lowTime'][0])

'2022-02-28 17:27:56'

In [65]:
timestamp = current_time.strftime("%Y-%m-%d %H-%M-%S")

In [66]:
all_items.to_csv(f'latest_osrs_items{str(timestamp)}.csv',index=False)

In [45]:
from datetime import datetime

In [48]:
current_time = datetime.now()

In [49]:
timestamp = current_time.strftime("%Y-%m-%d %H:%M:%S")

In [50]:
timestamp

'2022-02-28 13:22:59'

In [51]:
import time

starttime = time.time()
while True:
    print("tick")
    time.sleep(60.0 - ((time.time() - starttime) % 60.0))

tick
tick
tick
tick
tick

KeyboardInterrupt: