In [1]:
#fetching and viewing prices data table

In [2]:
import sqlite3
from sqlite3 import Error
import pandas as pd

In [3]:
conn = sqlite3.connect('geitems.db')
cur = conn.cursor()

In [4]:
cur.execute("""SELECT * FROM prices""")

In [5]:
response = cur.fetchall()

In [6]:
pd.DataFrame(response,columns=['id','item_id','timestamp','avgHighPrice','highPriceVolume','avgLowPrice','lowPriceVolume'])

,id,item_id,timestamp,avgHighPrice,highPriceVolume,avgLowPrice,lowPriceVolume
0,1,9998,1647194100,6750.0,4,5990.0,16
1,2,9998,1647194400,6934.0,31,NaN,0
2,3,9998,1647194700,6998.0,2,5500.0,20
3,4,10010,1646679000,15.0,1,NaN,0
4,5,10029,1646679000,6.0,3,NaN,0
...,...,...,...,...,...,...,...
11177,11178,987,1647197100,9615.0,1,9500.0,19
11178,11179,989,1647197100,19859.0,7,19380.0,6
11179,11180,99,1647197100,9747.0,430,9578.0,190
11180,11181,993,1647197100,NaN,0,39740.0,1
11181,11182,9998,1647197100,5570.0,3,6402.0,4