In [1]:
import sqlite3
from sqlite3 import Error
import pandas as pd

In [2]:
conn = sqlite3.connect('../geitems.db')

In [3]:
cur = conn.cursor()

In [4]:
def add_prices(conn, item):
    """
    Create a new project into the items table
    :param conn:
    :param item:
    :return: item id
    """
    sql = ''' INSERT INTO prices(item_id,timestamp,avgHighPrice,highPriceVolume,avgLowPrice,lowPriceVolume)
              VALUES(?,?,?,?,?,?) '''
    cur = conn.cursor()
    cur.execute(sql, item)
    conn.commit()
    return cur.lastrowid

In [5]:
#connection

def create_connection(db_file):
    """Create conn to sqlite db"""
    
    conn = None
    
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
    return conn

In [6]:
import csv

In [6]:
price_df = pd.read_csv('Most_recent_data.csv')

In [7]:
with open('Most_recent_data.csv','r') as fin:
    dr = csv.DictReader(fin)
    to_db = [(i['item_id'], i['timestamp'], i['avgHighPrice'], i['highPriceVolume'], i['avgLowPrice'], i['lowPriceVolume']) for i in dr]

    cur.executemany("""INSERT INTO prices ((item_id,timestamp,avgHighPrice,highPriceVolume,avgLowPrice,lowPriceVolume)
              VALUES(?,?,?,?,?,?);""",to_db)
    conn.commit()
    conn.close

MemoryError:

In [10]:
price_df.drop('Unnamed: 0.1',axis=1,inplace=True)

In [11]:
price_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213865814 entries, 0 to 213865813
Data columns (total 6 columns):
 #   Column           Dtype
---  ------           -----
 0   item_id          float64
 1   timestamp        float64
 2   avgHighPrice     float64
 3   highPriceVolume  float64
 4   avgLowPrice      float64
 5   lowPriceVolume   float64
dtypes: float64(6)
memory usage: 9.6 GB

In [15]:
price_df['item_id']

0                2.0
1               36.0
2               45.0
3               56.0
4               91.0
              ...
213865809    27235.0
213865810    27238.0
213865811    27241.0
213865812    27272.0
213865813    27277.0
Name: item_id, Length: 213865814, dtype: float64

In [10]:
# conn = create_connection('geitems.db')

# #id,members,lowalch,buyLimit,value,highalch,icon,name,examine
# #add item

# item_id = int(item_df.iloc[0]['id'])
# mems = str(item_df.iloc[0]['members'])
# lowal = item_df.iloc[0]['lowalch']
# lim = item_df.iloc[0]['limit']
# val = int(item_df.iloc[0]['value'])
# highal = item_df.iloc[0]['highalch']
# icon = item_df.iloc[0]['icon']
# name = item_df.iloc[0]['name']
# examine = item_df.iloc[0]['examine']

# item = (item_id,mems,lowal,lim,val,highal,icon,name,examine);
# item_id = add_items(conn, item)

In [11]:
price_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1318 entries, 0 to 1317
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   avgHighPrice     904 non-null    float64
 1   highPriceVolume  1318 non-null   int64
 2   avgLowPrice      893 non-null    float64
 3   lowPriceVolume   1318 non-null   int64
 4   timestamp        1318 non-null   int64
 5   id               1318 non-null   int64
dtypes: float64(2), int64(4)
memory usage: 61.9 KB

In [18]:
from tqdm.notebook import tqdm

In [19]:
for row in tqdm(range(0,len(price_df))):
    item_id = int(price_df.iloc[row]['item_id'])
    timestamp = int(price_df.iloc[row]['timestamp'])
    avghigh = float(price_df.iloc[row]['avgHighPrice'])
    highvol = int(price_df.iloc[row]['highPriceVolume'])
    avglow = float(price_df.iloc[row]['avgLowPrice'])
    lowvol = int(price_df.iloc[row]['lowPriceVolume'])

    
    price = (item_id,timestamp,avghigh,highvol,avglow,lowvol);
    price_id = add_prices(conn, price)

  0%|          | 0/213865814 [00:00<?, ?it/s]

KeyboardInterrupt:

In [13]:
conn.close()