In [1]:
#get updated ge data from the api and store it with the date and time in a folder.
#make a function that gets updates continuously.

In [1]:
import pandas as pd
import numpy as np
import requests
import json
from datetime import datetime

In [2]:
headers = {'User-Agent':'GEoutlier-detection'}

In [3]:
api_endpt = "https://prices.runescape.wiki/api/v1/osrs"

In [4]:
items_endpt = "/mapping"
latest_endpt = "/latest"
five_min_endpt = "/5m"
five_min_timestamp = "/5m?timestamp="

In [5]:
items_response = requests.get((api_endpt+items_endpt), headers=headers)
all_items = pd.DataFrame.from_dict(json.loads(items_response.text))

In [6]:
all_items

,examine,id,members,lowalch,limit,value,highalch,icon,name
0,Fabulously ancient mage protection enchanted i...,10344,True,20200.0,8.0,50500,30300.0,3rd age amulet.png,3rd age amulet
1,"A beautifully crafted axe, shaped by ancient s...",20011,True,22000.0,40.0,55000,33000.0,3rd age axe.png,3rd age axe
2,A beautifully crafted bow carved by ancient ar...,12424,True,60000.0,8.0,150000,90000.0,3rd age bow.png,3rd age bow
3,A beautiful cloak woven by ancient tailors.,12437,True,34000.0,8.0,85000,51000.0,3rd age cloak.png,3rd age cloak
4,A fabulously ancient vine cloak as worn by the...,23345,True,80000.0,8.0,200000,120000.0,3rd age druidic cloak.png,3rd age druidic cloak
...,...,...,...,...,...,...,...,...,...
3903,A pile of Zombie Ogre bones.,4812,True,1.0,3000.0,1,1.0,Zogre bones.png,Zogre bones
3904,Get a head in life.,19912,True,2000.0,4.0,5000,3000.0,Zombie head (Treasure Trails).png,Zombie head (Treasure Trails)
3905,Teleports you to Zul-Andra.,12938,True,4.0,10000.0,10,6.0,Zul-andra teleport.png,Zul-andra teleport
3906,Flakes of toxic snakeskin.,12934,True,8.0,30000.0,20,12.0,Zulrah's scales 5.png,Zulrah's scales
3907,A powerful staff.,22647,True,120000.0,10.0,300000,180000.0,Zuriel's staff.png,Zuriel's staff

In [8]:
latest_response = requests.get((api_endpt+latest_endpt), headers=headers)

In [9]:
latest_data = pd.DataFrame.from_dict(json.loads(latest_response.text[8:-1]),orient='columns').T
latest_data['id'] = latest_data.index

In [10]:
#high and low Time need to be converted to unix time
latest_data.highTime = pd.to_datetime(latest_data['highTime'], unit='s')

In [11]:
def unix_conv(df,col):
    converted_col = pd.to_datetime(df[col], unit='s')
    
    return pd.DataFrame(converted_col, columns=[col])

In [12]:
latest_data.lowTime = unix_conv(latest_data,'lowTime')

In [13]:
latest_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3796 entries, 2 to 26394
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   high      3795 non-null   float64
 1   highTime  3795 non-null   datetime64[ns]
 2   low       3795 non-null   float64
 3   lowTime   3795 non-null   datetime64[ns]
 4   id        3796 non-null   object
dtypes: datetime64[ns](2), float64(2), object(1)
memory usage: 177.9+ KB

In [14]:
latest_data

              high            highTime          low             lowTime     id
2            152.0 2022-03-07 18:39:53        150.0 2022-03-07 18:37:03      2
6         194500.0 2022-03-07 18:22:05     176323.0 2022-03-07 18:37:22      6
8         194500.0 2022-03-07 18:09:16     179238.0 2022-03-07 18:37:14      8
10        194500.0 2022-03-07 18:08:21     175659.0 2022-03-07 18:37:11     10
12        209328.0 2022-03-07 18:08:42     185567.0 2022-03-07 18:37:17     12
...            ...                 ...          ...                 ...    ...
26382  263901659.0 2022-03-07 18:19:00  260771000.0 2022-03-07 17:29:14  26382
26384  485000000.0 2022-03-07 18:03:18  485000000.0 2022-03-07 18:22:28  26384
26386  490398000.0 2022-03-07 18:03:08  483222222.0 2022-03-07 18:26:50  26386
26390     139916.0 2022-03-07 18:33:25     137443.0 2022-03-07 18:36:56  26390
26394    8589999.0 2022-03-07 16:11:36    8410005.0 2022-03-06 16:24:37  26394

[3796 rows x 5 columns]

In [15]:
five_min_response = requests.get((api_endpt+five_min_endpt), headers=headers)

In [16]:
five_min_data = pd.DataFrame.from_dict(json.loads(five_min_response.text))

In [17]:
five_min_data.data

10       {'avgHighPrice': None, 'highPriceVolume': 0, '...
10004    {'avgHighPrice': None, 'highPriceVolume': 0, '...
10008    {'avgHighPrice': 54, 'highPriceVolume': 30, 'a...
10010    {'avgHighPrice': None, 'highPriceVolume': 0, '...
10012    {'avgHighPrice': None, 'highPriceVolume': 0, '...
                               ...
987      {'avgHighPrice': None, 'highPriceVolume': 0, '...
989      {'avgHighPrice': None, 'highPriceVolume': 0, '...
99       {'avgHighPrice': 9908, 'highPriceVolume': 383,...
991      {'avgHighPrice': None, 'highPriceVolume': 0, '...
9978     {'avgHighPrice': None, 'highPriceVolume': 0, '...
Name: data, Length: 1345, dtype: object

In [18]:
five_min_timestamp = pd.DataFrame.from_dict(json.loads(five_min_response.text))['timestamp']

In [19]:
five_min_timestamp

10       1646678100
10004    1646678100
10008    1646678100
10010    1646678100
10012    1646678100
            ...
987      1646678100
989      1646678100
99       1646678100
991      1646678100
9978     1646678100
Name: timestamp, Length: 1345, dtype: int64

In [20]:
five_min_data_data = pd.json_normalize(five_min_data['data'])

In [21]:
five_min_data_data.index = five_min_data.index

In [22]:
five_min_data_data['timestamp'] = five_min_timestamp

In [23]:
five_min_data = five_min_data_data

In [24]:

five_min_data['id'] = five_min_data.index

In [25]:
five_min_data

,avgHighPrice,highPriceVolume,avgLowPrice,lowPriceVolume,timestamp,id
10,NaN,0,175659.0,1,1646678100,10
10004,NaN,0,1710.0,1,1646678100,10004
10008,54.0,30,NaN,0,1646678100,10008
10010,NaN,0,11.0,1,1646678100,10010
10012,NaN,0,89.0,20,1646678100,10012
...,...,...,...,...,...,...
987,NaN,0,9500.0,24,1646678100,987
989,NaN,0,19900.0,9,1646678100,989
99,9908.0,383,9913.0,3689,1646678100,99
991,NaN,0,2055.0,1,1646678100,991
9978,NaN,0,25.0,20,1646678100,9978

In [26]:
#changing datetimes
five_min_data.highTime = unix_conv(five_min_data,'timestamp')
five_min_data.lowTime = unix_conv(five_min_data,'timestamp')

<ipython-input-26-8a2f6c03e618>:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  five_min_data.highTime = unix_conv(five_min_data,'timestamp')
<ipython-input-26-8a2f6c03e618>:3: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  five_min_data.lowTime = unix_conv(five_min_data,'timestamp')

In [27]:
#the id columns for the latest data and five_min data needs to be changed to an int64 type
latest_data.id = latest_data.id.astype('int64')
five_min_data.id = five_min_data.id.astype('int64')

In [28]:
#merge the five_min_data with all_items
#this will only include data that has new information
all_w_latest = all_items.merge(five_min_data,on='id')

In [29]:
all_w_latest.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1345 entries, 0 to 1344
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   examine          1345 non-null   object
 1   id               1345 non-null   int64
 2   members          1345 non-null   bool
 3   lowalch          1344 non-null   float64
 4   limit            1322 non-null   float64
 5   value            1345 non-null   int64
 6   highalch         1344 non-null   float64
 7   icon             1345 non-null   object
 8   name             1345 non-null   object
 9   avgHighPrice     890 non-null    float64
 10  highPriceVolume  1345 non-null   int64
 11  avgLowPrice      912 non-null    float64
 12  lowPriceVolume   1345 non-null   int64
 13  timestamp        1345 non-null   int64
dtypes: bool(1), float64(5), int64(5), object(3)
memory usage: 148.4+ KB

In [30]:
str(all_w_latest['timestamp'][0])

'1646678100'

In [31]:
current_time = datetime.now()

In [32]:
timestamp = current_time.strftime("%Y-%m-%d %H-%M-%S")

In [33]:
all_items.to_csv(f'latest_osrs_items{str(timestamp)}.csv',index=False)

In [34]:
from datetime import datetime

In [35]:
timestamp = current_time.strftime("%Y-%m-%d %H:%M:%S")

In [36]:
timestamp

'2022-03-07 12:41:21'

In [37]:
import time

starttime = time.time()
while True:
    print("tick")
    time.sleep(60.0 - ((time.time() - starttime) % 60.0))

tick
tick
tick
tick
tick
tick
tick
tick
tick

KeyboardInterrupt: