In [1]:
#fetching and viewing prices data table

In [2]:
import sqlite3
from sqlite3 import Error
import pandas as pd

In [3]:
conn = sqlite3.connect('../geitems.db')
cur = conn.cursor()

In [4]:
cur.execute("""SELECT * FROM prices LIMIT 1000000""")

In [5]:
response = cur.fetchall()

In [6]:
pd.DataFrame(response,columns=['id','item_id','timestamp','avgHighPrice','highPriceVolume','avgLowPrice','lowPriceVolume'])

,id,item_id,timestamp,avgHighPrice,highPriceVolume,avgLowPrice,lowPriceVolume
0,1,2,1615188900,161.0,50300,159.0,394
1,2,36,1615188900,150.0,2,,0
2,3,45,1615188900,,0,21.0,15
3,4,56,1615188900,,0,34.0,1
4,5,91,1615188900,77.0,37,,0
...,...,...,...,...,...,...,...
999995,999996,1963,1615196400,59.0,2,58.0,2
999996,999997,1965,1615196400,40.0,1,37.0,14
999997,999998,1969,1615196400,,0,65.0,8
999998,999999,1971,1615196400,,0,54.0,13
999999,1000000,1975,1615196400,41.0,102,,0

In [7]:
conn.close()

In [8]:
# while(0<1):
#     conn = sqlite3.connect('../geitems.db')
#     cur = conn.cursor()
#     cur.execute("""SELECT * FROM prices""")
#     response = cur.fetchall()
#     conn.close()
#     tableContents = len(pd.DataFrame(response,columns=['id','item_id','timestamp','avgHighPrice','highPriceVolume','avgLowPrice','lowPriceVolume']).id)
#     print('Table Contains {tableContents} rows')