In [1]:
#fetching and viewing prices data table

In [26]:
import sqlite3
from sqlite3 import Error
import pandas as pd

In [27]:
conn = sqlite3.connect('../geitems.db')
cur = conn.cursor()

In [28]:
cur.execute("""SELECT * FROM prices""")

In [29]:
response = cur.fetchall()

In [30]:
pd.DataFrame(response,columns=['id','item_id','timestamp','avgHighPrice','highPriceVolume','avgLowPrice','lowPriceVolume'])

,id,item_id,timestamp,avgHighPrice,highPriceVolume,avgLowPrice,lowPriceVolume
0,1,9998,1647194100,6750.0,4,5.990000e+03,16
1,2,9998,1647194400,6934.0,31,NaN,0
2,3,9998,1647194700,6998.0,2,5.500000e+03,20
3,4,10010,1646679000,15.0,1,NaN,0
4,5,10029,1646679000,6.0,3,NaN,0
...,...,...,...,...,...,...,...
1362568,1362569,27014,1660515600,70000.0,1,NaN,0
1362569,1362570,27014,1660815600,NaN,0,6.900000e+04,1
1362570,1362571,26997,1661115600,4424.0,1,4.424000e+03,33
1362571,1362572,27272,1661415600,NaN,0,1.411500e+04,90
1362572,1362573,27277,1661715600,NaN,0,1.800000e+09,1

In [23]:
conn.close()

In [25]:
while(0<1):
    conn = sqlite3.connect('../geitems.db')
    cur = conn.cursor()
    cur.execute("""SELECT * FROM prices""")
    response = cur.fetchall()
    conn.close()
    tableContents = len(pd.DataFrame(response,columns=['id','item_id','timestamp','avgHighPrice','highPriceVolume','avgLowPrice','lowPriceVolume']).id)
    print('Table Contains {tableContents} rows')

Table Contains 1362335 rows
Table Contains 1362336 rows
Table Contains 1362337 rows
Table Contains 1362339 rows
Table Contains 1362340 rows
Table Contains 1362341 rows

KeyboardInterrupt: