In [1]:
#fetching and viewing prices data table

In [30]:
import sqlite3
from sqlite3 import Error
import pandas as pd

In [ ]:
conn = sqlite3.connect('../geitems.db')
cur = conn.cursor()
cur.execute("""SELECT * FROM prices""")
response = cur.fetchall()
conn.close()

In [ ]:
pd.DataFrame(response,columns=['id','item_id','timestamp','avgHighPrice','highPriceVolume','avgLowPrice','lowPriceVolume'])

,id,item_id,timestamp,avgHighPrice,highPriceVolume,avgLowPrice,lowPriceVolume
0,1,9998,1647194100,6750.0,4,5990.0,16
1,2,9998,1647194400,6934.0,31,NaN,0
2,3,9998,1647194700,6998.0,2,5500.0,20
3,4,10010,1646679000,15.0,1,NaN,0
4,5,10029,1646679000,6.0,3,NaN,0
...,...,...,...,...,...,...,...
2651370,2651371,11824,1615321200,12785000.0,1,12779188.0,3
2651371,2651372,11826,1615321200,4436246.0,8,4423358.0,6
2651372,2651373,11828,1615321200,33098403.0,10,33080505.0,7
2651373,2651374,11830,1615321200,28864873.0,16,28813064.0,14
2651374,2651375,11832,1615321200,16072249.0,8,16051483.0,5

In [25]:
while(0<1):
    conn = sqlite3.connect('../geitems.db')
    cur = conn.cursor()
    cur.execute("""SELECT * FROM prices""")
    response = cur.fetchall()
    conn.close()
    tableContents = len(pd.DataFrame(response,columns=['id','item_id','timestamp','avgHighPrice','highPriceVolume','avgLowPrice','lowPriceVolume']).id)
    print('Table Contains {tableContents} rows')

Table Contains 1362335 rows
Table Contains 1362336 rows
Table Contains 1362337 rows
Table Contains 1362339 rows
Table Contains 1362340 rows
Table Contains 1362341 rows

KeyboardInterrupt: