In [248]:
import sqlite3
from sqlite3 import Error
import pandas as pd

In [249]:
#connection

def create_connection(db_file):
    """Create conn to sqlite db"""
    
    conn = None
    
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
    return conn

In [250]:
# conn.close()

In [251]:
# create_connection('geitems.db')

In [252]:
conn = sqlite3.connect('../geitems.db')

In [253]:
cur = conn.cursor()

In [177]:
#make items table
query = """ CREATE TABLE items (id integer, members integer, lowalch real, buyLimit real, value real, highalch real, icon blob, name text, examine text) """

In [254]:
# query = ''' DROP TABLE prices '''

In [255]:
cur.execute(query)

In [179]:
def add_items(conn, item):
    """
    Create a new project into the items table
    :param conn:
    :param item:
    :return: item id
    """
    sql = ''' INSERT INTO items(id,members,lowalch,buyLimit,value,highalch,icon,name,examine)
              VALUES(?,?,?,?,?,?,?,?,?) '''
    cur = conn.cursor()
    cur.execute(sql, item)
    conn.commit()
    return cur.lastrowid

In [180]:
item_df = pd.read_csv('latest_osrs_items2022-03-07 12-41-21.csv')

In [181]:
item_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3882 entries, 0 to 3881
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   examine   3882 non-null   object
 1   id        3882 non-null   int64
 2   members   3882 non-null   bool
 3   lowalch   3880 non-null   float64
 4   limit     3776 non-null   float64
 5   value     3882 non-null   int64
 6   highalch  3880 non-null   float64
 7   icon      3882 non-null   object
 8   name      3882 non-null   object
dtypes: bool(1), float64(3), int64(2), object(3)
memory usage: 246.5+ KB

In [193]:
item_df.id

TypeError: cannot convert the series to <class 'int'>

In [183]:
item_df.iloc[0]['examine']

'Fabulously ancient mage protection enchanted in the 3rd Age.'

In [204]:
conn = create_connection('geitems.db')

#id,members,lowalch,buyLimit,value,highalch,icon,name,examine
#add item

item_id = int(item_df.iloc[0]['id'])
mems = str(item_df.iloc[0]['members'])
lowal = item_df.iloc[0]['lowalch']
lim = item_df.iloc[0]['limit']
val = int(item_df.iloc[0]['value'])
highal = item_df.iloc[0]['highalch']
icon = item_df.iloc[0]['icon']
name = item_df.iloc[0]['name']
examine = item_df.iloc[0]['examine']

item = (item_id,mems,lowal,lim,val,highal,icon,name,examine);
item_id = add_items(conn, item)

2.6.0

In [205]:
type(conn)

sqlite3.Connection

In [206]:
# cur.execute('''DROP TABLE items''')

In [256]:
conn.close()

In [208]:
conn = sqlite3.connect('../geitems.db')
cur = conn.cursor()

In [209]:
cur.execute("""SELECT * FROM items""")

In [210]:
cur.fetchall()

[(b'h(\x00\x00\x00\x00\x00\x00',
  b'\x01',
  20200.0,
  8.0,
  b'D\xc5\x00\x00\x00\x00\x00\x00',
  30300.0,
  '3rd age amulet.png',
  '3rd age amulet',
  'Fabulously ancient mage protection enchanted in the 3rd Age.'),
 (10344,
  b'\x01',
  20200.0,
  8.0,
  b'D\xc5\x00\x00\x00\x00\x00\x00',
  30300.0,
  '3rd age amulet.png',
  '3rd age amulet',
  'Fabulously ancient mage protection enchanted in the 3rd Age.'),
 (10344,
  b'\x01',
  20200.0,
  8.0,
  50500.0,
  30300.0,
  '3rd age amulet.png',
  '3rd age amulet',
  'Fabulously ancient mage protection enchanted in the 3rd Age.'),
 (10344,
  'True',
  20200.0,
  8.0,
  50500.0,
  30300.0,
  '3rd age amulet.png',
  '3rd age amulet',
  'Fabulously ancient mage protection enchanted in the 3rd Age.')]

In [211]:
val

50500