In [1]:
#fetching data from the db and formatting it into a dataframe

In [1]:
import sqlite3
from sqlite3 import Error
import pandas as pd
import numpy as np

In [2]:
conn = sqlite3.connect('../geitems.db')
cur = conn.cursor()

In [3]:
cur.execute("""SELECT * FROM items""")

In [4]:
response = cur.fetchall()

In [5]:
response[0]

(1,
 10344,
 'True',
 20200.0,
 8.0,
 50500.0,
 30300.0,
 '3rd age amulet.png',
 '3rd age amulet',
 'Fabulously ancient mage protection enchanted in the 3rd Age.')

In [6]:
items = pd.DataFrame(response,columns=['id','item_id','members','lowalch','buyLimit','value','highalch','icon','name','examine'])

In [7]:
items.loc[items.item_id == 1391]

,id,item_id,members,lowalch,buyLimit,value,highalch,icon,name,examine
459,460,1391,True,2800.0,11000.0,7000.0,4200.0,Battlestaff.png,Battlestaff,It's a slightly magical stick.
4341,4342,1391,True,2800.0,11000.0,7000.0,4200.0,Battlestaff.png,Battlestaff,It's a slightly magical stick.

In [8]:
def queryDB(query):
    conn = sqlite3.connect('../geitems.db')
    response = conn.cursor().execute(query).fetchall()
    conn.close()
    return response

In [9]:
# queryDB("""SELECT * FROM items""")

In [10]:
def formatItemDF(response):
    df = pd.DataFrame(response,columns=['id','item_id','members','lowalch','buyLimit','value','highalch','icon','name','examine'])
    return df

In [11]:
def formatPriceDF(response):
    df = pd.DataFrame(response,columns=['id','item_id','timestamp','avgHighPrice','highPriceVolume','avgLowPrice','lowPriceVolume'])
    return df

In [12]:
prices = formatPriceDF(queryDB("""SELECT * FROM prices LIMIT 1000"""))

In [13]:
def cleanPriceDF(df):
    #format timestamp and replace empty str with np.nan
    df.timestamp = pd.to_datetime(df.timestamp,unit='s')
    df.avgHighPrice.replace('',np.nan,inplace=True)
    df.avgLowPrice.replace('',np.nan,inplace=True)
    df.set_index('timestamp',inplace=True)
    df.drop('id',inplace=True,axis=1)
    return df

In [14]:
items = formatItemDF(queryDB("""SELECT * FROM items LIMIT 1000"""))

In [15]:
def cleanItemDF(df):
    items.members = items.members.astype(bool)
    df.drop('id',inplace=True,axis=1)
    return df

In [16]:
items = cleanItemDF(items)

In [17]:
items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   item_id   1000 non-null   int64
 1   members   1000 non-null   bool
 2   lowalch   1000 non-null   float64
 3   buyLimit  973 non-null    float64
 4   value     1000 non-null   float64
 5   highalch  1000 non-null   float64
 6   icon      1000 non-null   object
 7   name      1000 non-null   object
 8   examine   1000 non-null   object
dtypes: bool(1), float64(4), int64(1), object(3)
memory usage: 63.6+ KB

,item_id,members,lowalch,buyLimit,value,highalch,icon,name,examine
0,10344,True,20200.0,8.0,50500.0,30300.0,3rd age amulet.png,3rd age amulet,Fabulously ancient mage protection enchanted i...
1,20011,True,22000.0,40.0,55000.0,33000.0,3rd age axe.png,3rd age axe,"A beautifully crafted axe, shaped by ancient s..."
2,12424,True,60000.0,8.0,150000.0,90000.0,3rd age bow.png,3rd age bow,A beautifully crafted bow carved by ancient ar...
3,12437,True,34000.0,8.0,85000.0,51000.0,3rd age cloak.png,3rd age cloak,A beautiful cloak woven by ancient tailors.
4,23345,True,80000.0,8.0,200000.0,120000.0,3rd age druidic cloak.png,3rd age druidic cloak,A fabulously ancient vine cloak as worn by the...
...,...,...,...,...,...,...,...,...,...
995,24000,True,12000.0,NaN,30000.0,18000.0,Crystal grail.png,Crystal grail,Smells of victory.
996,989,True,60.0,11000.0,150.0,90.0,Crystal key.png,Crystal key,A mysterious key for a mysterious chest.
997,8628,True,4.0,500.0,10.0,6.0,Crystal of power (flatpack).png,Crystal of power (flatpack),How does it all fit in there?
998,23953,True,200000.0,100.0,500000.0,300000.0,Crystal tool seed.png,Crystal tool seed,A seed to be sung into the best tools of the c...
999,4207,True,1.0,70.0,1.0,1.0,Crystal weapon seed.png,Crystal weapon seed,A seed to be sung into the finest crystal weap...